
.badge-theme {
    --badge-color: #ffb7d1;
    color: #885555;
}
.badge-narrative {
    --badge-color: #ade3ff;
    color: #555588;
}
.badge-mood {
    --badge-color: #baf9b1;
    color: #558855;
}
.badge-verse {
    --badge-color: #ffd99f;
    color: #757545;
}
.badge-chorus {
    --badge-color: #e8baff;
    color: #885555;
}
.badge-bridge {
    --badge-color: #ffbcbc;
    color: #885555;
}
.badge-pre-chorus {
    --badge-color: #b1f8c8;
    color: #558855;
}
.badge-instrumental-intro {
    --badge-color: #bfcaff;
    color: #555588;
}
.badge-intro {
    --badge-color: #b9e8ff;
    color: #555588;
}
.badge-outro {
    --badge-color: #fbe0a0;
    color: #757545;
}
.badge-vocalisation {
    --badge-color: #c3d4ff;
    color: #555588;
}
.badge-interlude {
    --badge-color: #ffdb9e;
    color: #757545;
}
.badge-solo {
    --badge-color: #adebd3;
    color: #558855;
}
.badge-spare1 {
    --badge-color: #ffb7e8;
    color: #885588;
}
.badge-spare2 {
    --badge-color: #f7db99;
    color: #757545;
}

.song-section-card {
    overflow: hidden;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out, margin 0.5s ease-in-out;
}
.song-section-card.collapsing-hide {
    opacity: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.song-section-card.collapsing-show {
    opacity: 1;
    margin-top: 0;
    margin-bottom: 0;
}
.song-section-card.collapsed {
    height: 0 !important;
    opacity: 0;
    margin-top: 0;
    margin-bottom: 0;
}


@import "tailwindcss";

@plugin "./daisyui-theme.js" {
  name: "lyrical";
  color-scheme: "dark";
  --color-base-100: oklch(14% 0 0);
  --color-base-200: oklch(20% 0 0);
  --color-base-300: oklch(26% 0 0);
  --color-base-content: oklch(86% 0.005 56.366);
  --color-primary: oklch(66% 0.179 58.318);
  --color-primary-content: oklch(96% 0.059 95.617);
  --color-secondary: oklch(51% 0.262 276.966);
  --color-secondary-content: oklch(87% 0.065 274.039);
  --color-accent: oklch(68% 0.162 75.834);
  --color-accent-content: oklch(97% 0.071 103.193);
  --color-neutral: oklch(43% 0 0);
  --color-neutral-content: oklch(92% 0 0);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(95% 0.045 203.388);
  --color-success: oklch(40% 0.101 131.063);
  --color-success-content: oklch(96% 0.067 122.328);  
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(45% 0.188 13.697);
  --color-error-content: oklch(94% 0.03 12.58);  
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

@plugin "./daisyui.js" {
  themes: lyrical --default --prefersdark;
  logs: true;
  exclude: rootscrollgutter;
}

@source "../../../templates";
