{% extends "quizly/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'quizly/style/quiz.css' %}">
    <script src="{% static 'quizly/script/quiz.js' %}"></script>
{% endblock %}

{% block body %}
    {% csrf_token %}
    <div class="page-heading">
        <h2>{{ quiz.name }}</h2>
        <p>{{ quiz.description }}</p>
    </div>

    <div class="details-container">
        <div>
            Created by <strong><a href="{% url 'profile' quiz.created_by.username %}">{{ quiz.created_by.display_name }}</a>
            </strong> on <strong> {{ quiz.created_at|date:"M d, Y" }}</strong> in category 
            <strong><a href="{% url 'browse' %}?category={{ quiz.category.id }}">{{ quiz.category.name }}</a></strong>.
        </div>  
        <div class="details-banner">
            Average Score<div class="details-value">{{ quiz.get_average_score }}/{{ quiz.get_question_count }}</div>
            &nbsp;&nbsp;
            Average Rating<div class="details-value">{{ quiz.get_average_rating_html|safe }}</div>
        </div>
    </div>

    {% if user.is_authenticated %}
        <div class="quiz-actions">
            <button class="btn btn-primary quiz-btn" data-user-rating="{{ user_rating|default:0 }}">
                <i class="bi bi-star{% if user_rating %}-fill{% endif %}"></i>
                Rate
            </button>
            <button class="btn btn-primary quiz-btn" id="save-for-later" data-saved="{{ is_saved_for_later|yesno:'true,false' }}">
                <i class="bi bi-bookmark{% if is_saved_for_later %}-fill{% endif %}"></i>
                {% if is_saved_for_later %}Saved For Later{% else %}Save For Later{% endif %}
            </button>
            <button class="btn btn-primary quiz-btn" id="attempt-now">
                <i class="bi bi-play-fill"></i>Attempt Now
            </button>
        </div>

        <div class="details-container">
            <h3 class="details-heading">My Attempts</h3>
            <div class="table-container">
                {% if user.is_authenticated and user_attempts|length > 0 %}
                    <table class="attempts-table">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Date</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for attempt in user_attempts %}
                                <tr>
                                    <td>
                                        <a href="{% url 'profile' attempt.user.username %}">{{ attempt.user.display_name }}</a>
                                    </td>
                                    <td>
                                        {{ attempt.date_taken|date:"M d, Y" }}
                                    </td>
                                    <td>
                                        <a href="{% url 'show_attempt' attempt.id %}">{{ attempt.score }}/{{ quiz.get_question_count }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="no-attempts">You haven't attempted this quiz yet.</p>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="details-container">
        <h3 class="details-heading">Leaderboard</h3>
        <div class="table-container">
            {% if quiz.get_leaderboard|length > 0 %}
                <table class="attempts-table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Date</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for attempt in quiz.get_leaderboard %}
                            <tr>
                                <td>
                                    <a href="{% url 'profile' attempt.user.username %}">{{ attempt.user.display_name }}</a>
                                </td>
                                <td>
                                    {{ attempt.date_taken|date:"M d, Y" }}
                                </td>
                                <td>
                                    <a href="{% url 'show_attempt' attempt.id %}">{{ attempt.score }}/{{ quiz.get_question_count }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="no-attempts">No one has attempted this quiz yet.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

