<div data-section-name="{{slot|lower}}" class="badge-edit-item flex flex-row mr-1 cursor-grab">
    <div {{attrs}} class="badge badge-sm rounded badge-{{slot|lower}} w-40 font-bold mb-3 mt-3 ml-2 {{extrastyles}}">{% if song_section.name %}{{song_section.name}}{% else %}{{slot|upper}}{% endif %}</div>
    {% if song_section.allow_words %}
    <div class="flex flex-grow"></div>
    <button class="badge-button badge-regenerate-button mt-1 btn-style btn btn-xs btn-ghost h-full text-neutral hidden"><i class="bi bi-arrow-clockwise text-xl"></i></button>
    <button class="badge-button badge-textedit-button mt-1 btn-style btn btn-xs btn-ghost h-full text-neutral hidden"><i class="bi bi-fonts text-xl"></i></button>
    <button class="badge-button badge-interactive-button mt-1 btn-style btn btn-xs btn-ghost h-full text-neutral hidden"><i class="bi bi-highlighter text-xl"></i></button>
    <button class="badge-button badge-exit-button mt-1 ml-2 btn-style btn btn-xs btn-ghost h-full text-neutral hidden"><i class="bi bi-x-square text-xl"></i></button>
    <button class="badge-button badge-tools-button mt-1 btn-style btn btn-xs btn-ghost h-full text-neutral"><i class="bi bi-three-dots-vertical text-xl"></i></button>
    {% endif %}
</div>