<div {{attrs}} class="style-card card border border-base-300 pl-4 pb-3 pt-2 mt-1 bg-base-200 cursor-grab flex flex-row w-full items-center justify-between {{extrastyles}}"
     id="style-card-{{ section.id }}" 
     data-style-id="{{ section.id }}"
     data-style-type="{{ section.badge_name }}">

    <div class="flex-grow mr-2">
        <div class="flex flex-row">
            <div class="badge badge-outline {{section.badge_style}} w-40 font-bold mb-2 mt-1">{{section.badge_name}}</div>
            <div class="justify-end flex flex-grow">
                <button id="btn-style-hide-{{section.id}}" class="btn-style btn btn-circle btn-ghost"><i class="bi bi-x-circle text-xl text-neutral"></i></button>
            </div>
    </div>
        <p class="" id="style-card-text-{{ section.id }}"">{{section.text}}</p>
    </div>
</div>
