
    <dialog id="modal-delete" class="modal">
        <div class="modal-box bg-base-300">
            <h3 class="text-lg font-bold" id="modal-delete-title">Confirm</h3>
            <p class="py-4" id="modal-delete-message">Confirm Delete?</p>
            <div class="modal-action">
            <form method="dialog">
                <button class="btn" id="modal-delete-yes">Yes</button>
                <button class="btn" id="modal-delete-no">No</button>
            </form>
            </div>
        </div>
    </dialog>
