<dialog id="modal-song-structure-template" class="modal">
    <div class="modal-box bg-base-300 w-[600px] h-[600px] rounded rounded-lg rounded-box">
        <h3 id="modal-song-structure-title" class="text-2xl font-bold text-center text-primary mb-8" id="modal-select-title">Song Structure Template</h3>
        <h5 id="modal-song-structure-message">Select the template to save to:</h5>
        <div class="modal-action">
            <form method="dialog" class="flex flex-col w-full ml-12 gap-2">

                {% for template in song_structure_templates %}
                    <c-modal-song-structure-template-button index="{{forloop.counter}}" />
                {% endfor %}

                <div class="flex flex-row gap-2 justify-end mr-20.5 mt-3.5">
                    <button 
                        class="btn btn-md btn-primary w-25" 
                        id="modal-song-structure-cancel">Cancel</button>
                    <button 
                        class="btn btn-md btn-primary w-25" 
                        data-selected-template-id="{{ song_structure_templates.0.id }}"
                        id="modal-song-structure-ok">Save</button>
                </div>

            </form>
        </div>
    </div>
</dialog>
