
<dialog id="modal-select-song-section" class="modal">
    <div class="modal-box bg-base-300 w-[300px] rounded rounded-lg rounded-box">
        <h3 class="text-lg font-bold text-center" id="modal-select-title">Add Item</h3>
        <div class="modal-action flex justify-center">
            <form method="dialog" class="flex flex-col gap-2">
                <c-badge-button>INTRO</c-badge-button>
                <c-badge-button>OUTRO</c-badge-button>
                <div class="border-b border-neutral my-1"></div>
                <c-badge-button>VERSE</c-badge-button>
                <c-badge-button>PRE-CHORUS</c-badge-button>
                <c-badge-button>CHORUS</c-badge-button>
                <c-badge-button>BRIDGE</c-badge-button>
                <div class="border-b border-neutral my-1"></div>
                <c-badge-button>INTERLUDE</c-badge-button>
                <c-badge-button>SOLO</c-badge-button>
                <c-badge-button>VOCALISATION</c-badge-button>
                <div class="mb-4"></div>
            </form>
        </div>
    </div>
</dialog>
