<div class="flex flex-row">
    <input id="radio-option-{{index}}" type="radio" name="radio-1" class="radio mt-2" {{ attrs }} />
    <input id="text-option-{{index}}" type="text" placeholder="" autocomplete="off" class="input input-md text-[16px] input-neutral border-base-300 shadow-none focus:outline-none ml-3" disabled value="Template {{index}}"></input>
    <div id="btn-edit-option-{{index}}" class="bi bi-pencil btn btn-md btn-neutral ml-1 mt-1 h-8 w-8 hidden"></div>
    <div id="btn-save-option-{{index}}" class="bi bi-floppy btn btn-md btn-neutral ml-1 mt-1 h-8 w-8 hidden"></div>
</div>
