
[Instrumental Intro]

[Verse1]
{{ verse1 }}

[Melodic Interlude]

[Chorus]
{{ chorus }}

pick one of these templates, then click generate.
user just see's full song?
check out suno's edit panel for song sections - pretty much copy that ui.
can delete quizly now, can delete all css and start over.
need to give them a name.
could use a yaml file?
add vocalisation and all the rest to the yaml.
