{% load static %}

<!DOCTYPE html>
<html lang="en" data-theme="lyrical">
    <head>
        <title>{% block title %}Lyrical{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Google Font Requirements -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <!-- Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Chango&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Coiny&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap">

        <!-- Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- Tailwind -->
        <link rel="stylesheet" href="{% static 'lyrical/style/twstyles.css' %}">

        {% block head %}
        {% endblock %}
    </head>
    <body data-authenticated="{% if user.is_authenticated %}true{% else %}false{% endif %}" class="">
        <div class="bg-base-200 font-[red_hat_text]">
            {% csrf_token %}

            {% block body %}
            {% endblock %}
        </div>

        <script type="module" src="{% static 'lyrical/script/util_stream_helper.js' %}"></script>
        <script type="module" src="{% static 'lyrical/script/util_dragdrop.js' %}"></script>
        <script type="module" src="{% static 'lyrical/script/util_toast.js' %}"></script>

        {% block layout_scripts %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </body>
</html>