{% extends "lyrical/base_sidebar.html" %}
{% load static %}

{% block page_content %}
    <!-- Panel 1 (Resizable) -->
    <div id="panel1" class="flex-1 py-3 pl-3 flex justify-center items-center overflow-hidden">
        <div class="h-full w-full flex items-center justify-center">
            {% block panel_1 %}
            {% endblock %}
        </div>
    </div>

    <!-- Splitter 1 -->
    <div class="splitter bg-transparent w-[12px] shrink-0" id="splitter1" style="cursor: col-resize;"></div>

    <!-- Panel 2 (Resizable) -->
    <div id="panel2" class="flex-1 py-3 flex justify-center items-center overflow-hidden">
        <div class="h-full w-full flex items-center justify-center">
            {% block panel_2 %}
            {% endblock %}
        </div>
    </div>

    <!-- Splitter 2 -->
    <div class="splitter bg-transparent w-[12px] shrink-0" id="splitter2" style="cursor: col-resize;"></div>

    <!-- Panel 3 (Resizable) -->
    <div id="panel3" class="flex-1 py-3 pr-3 flex justify-center items-center overflow-hidden">
        <div class="h-full w-full flex items-center justify-center">
            {% block panel_3 %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block layout_scripts %}
    <script type="module" src="{% static 'lyrical/script/util_sliders_vertical.js' %}"></script>
    <script type="module" src="{% static 'lyrical/script/util_sliders_horizontal.js' %}"></script>
{% endblock %}
