{% extends "lyrical/base_sidebar.html" %}
{% load static %}

{% block page_content %}

<div class="flex flex-col w-full h-full">

    <!-- Top Section - Generation Parameters -->
    <div class="w-full flex flex-row">
        {% block panel_1 %}
            <!-- Top Container -->
            <div class="border-1 w-full">

                <!-- Header Section -->
                <div class="border-1 w-full">
                    <p class="text-center">Header</p>
                </div>

                <!-- Content Section-->
                <div class="border-1 flex flex-row w-full">

                    <!-- Column -->
                    <div class="border-1 flex-grow">
                        <p>item</p>
                        <p>item</p>
                        <p>item</p>
                    </div>

                    <!-- Column -->
                    <div class="border-1 flex-grow">
                        <p>item</p>
                        <p>item</p>
                        <p>item</p>
                    </div>
                </div>
            </div>
        {% endblock %}        
    </div>

    <!-- Bottom Section - 3 Lists -->
    <div class="flex flex-row w-full flex-1 border-1">
        <!-- Panel 2 (Resizable) -->
        <div id="panel2" class="flex-1 py-3 flex justify-center items-center overflow-hidden">
            <div class="h-full w-full flex items-center justify-center">
                {% block panel_2 %}
                {% endblock %}
            </div>
        </div>

        <!-- Splitter 2 -->
        <div class="splitter bg-transparent w-[12px] shrink-0" id="splitter2" style="cursor: col-resize;"></div>

        <!-- Panel 3 (Resizable) -->
        <div id="panel3" class="flex-1 py-3 flex justify-center items-center overflow-hidden">
            <div class="h-full w-full flex items-center justify-center">
                {% block panel_3 %}
                {% endblock %}
            </div>
        </div>

        <!-- Splitter 3 -->
        <div class="splitter bg-transparent w-[12px] shrink-0" id="splitter3" style="cursor: col-resize;"></div>

        <!-- Panel 4 (Resizable) -->
        <div id="panel4" class="flex-1 py-3 pr-3 flex justify-center items-center overflow-hidden">
            <div class="h-full w-full flex items-center justify-center">
                {% block panel_4 %}
                {% endblock %}
            </div>
        </div>        
    </div>
</div>


{% endblock %}

{% block layout_scripts %}
    {{ block.super }}
    <script type="module" src="{% static 'lyrical/script/util_sliders_vertical.js' %}"></script>
    <script type="module" src="{% static 'lyrical/script/util_sliders_horizontal.js' %}"></script>
{% endblock %}
