{% extends "lyrical/base.html" %}
{% load static %}

{% block title %}
Lyrical
{% if song %} - {{song.name}}{% endif %}
{% endblock %}

{% block body %}
    <!-- The modal dialogs -->
    <c-modal-delete />
    <c-modal-textinput />
    <c-modal-summarization />
    <c-toast-template />
    
    <div id="song-edit-container" class="flex h-screen w-screen overflow-hidden">

        <!-- Fixed width sidebar -->
        <div id="sidebar-panel" class="w-64 flex-shrink-0 flex justify-center items-center overflow-hidden">
            <div class="h-full w-full flex items-center justify-center">
                <div class="h-full w-full flex flex-col items-top justify-top border-r border-base-300">

                    <!-- Title -->
                    <a href="{% url 'index' %}">
                        <p class="pt-5 text-center text-primary mb-10 mt-0 text-4xl font-[Chango]">LYRICAL</p>
                    </a>
                    
                    <!-- Image -->
                    <img src="{% static 'lyrical/image/singer-transparent.png' %}" 
                        alt="Singer performing"
                        class="object-contain mt-4 w-full [mask-image:linear-gradient(to_bottom,rgba(0,0,0,1)_85%,rgba(0,0,0,0)_100%)]">
                    
                    <!-- Menu -->                    
                    <ul class="menu bg-base-200 w-full mt-10 mb-4 menu-md pl-4 pr-4 font-bold text-primary">
                        <li class="mb-1">
                            <a class="{% if active_page == 'index' %}bg-neutral{% endif %}" href="{% url 'index' %}">
                                HOME
                            </a>
                        </li>
                        <li class="mb-1">
                            <a class="{% if active_page == 'library' %}bg-neutral{% endif %}" href="{% url 'library' %}">
                                LIBRARY
                            </a>
                        </li>
                        <li class="mb-1">
                            <a class="{% if active_page == 'names' %}bg-neutral{% endif %}" href="{% url 'names' %}">
                                NAMES
                            </a>
                        </li>
                        <li class="mb-1">
                            <a class="{% if active_page == 'lyrics' %}bg-neutral{% endif %}" href="{% url 'song' %}">
                                LYRICS
                            </a>
                        </li>
                    </ul>

                    <!-- LLM Options -->
                    <div class="bg-base shadow rounded border border-base-300 bg-base flex flex-col mt-4 mb-2 ml-2 mr-2 pt-3">
                        <p class="text-md font-bold border-b border-base-300 pb-3 text-center text-primary">
                            MODEL PARAMETERS
                        </p>
                        <div class="w-full p-4">
                            <select id="sidebar-model-select" class="flex-grow select select-base">
                                {% for model in llm_models %}
                                    <option value="{{ model.id }}" data-cost="{{ model.cost_per_1m_tokens }}" {% if user.llm_model.id == model.id %}selected{% endif %}>
                                        {{ model.display_name }}
                                    </option>
                                {% endfor %}
                            </select>

                            <p class="text-xs ml-1 mb-1 mt-6">
                                TEMPERATURE:
                            </p>
                            <div class="w-full max-w-xs">
                                <input id="sidebar-temperature-range" type="range" min="0" max="1" value="{{ user.llm_temperature }}" class="range range-primary" step="0.1" />
                                <div class="flex justify-between px-2.5 mt-2 text-xs">
                                    <span>0</span>
                                    <span>0.5</span>
                                    <span>1</span>
                                </div>
                            </div>

                            <p class="text-xs ml-1 mb-1 mt-6">
                                MAX TOKENS:
                            </p>
                            <div class="w-full max-w-xs">
                                <input id="sidebar-max-tokens-range" type="range" min="1" max="5" value="{{ user.llm_max_tokens }}" class="range range-primary" step="1"/>
                                <div class="flex justify-between px-2.5 mt-2 text-xs">
                                    <span>1k</span>
                                    <span>2k</span>
                                    <span>3k</span>
                                    <span>4k</span>
                                    <span>5k</span>
                                </div>
                            </div>
                            <p class="text-xs ml-1 mb-1 mt-7">
                                COST PER 1M TOKENS:
                            </p>
                            <p id="sidebar-cost-display" class="text-2xl ml-1 font-bold text-primary">
                                ${{ user.llm_model.cost_per_1m_tokens|floatformat:2 }}
                            </p>
                        </div>
                    </div>

                    <!-- Expandable Space -->
                    <div class="flex-1">
                    </div>

                    <!-- Menu -->                    
                    <ul class="menu bg-base-200 w-full mt-10 mb-3 menu-md font-bold text-primary p-0">
                        <div class="mt-1 mb-3 border border-b border-1 border-base-300"></div>
                        <li class="mb-1 pl-6 pr-4">
                            <a class="{% if active_page == 'profile' %}bg-neutral{% endif %}" href="{% url 'profile' %}">
                                MY PROFILE
                            </a>
                        </li>
                        <li class="mb-4 pl-6 pr-4">
                            <a class="{% if active_page == 'logout' %}bg-neutral{% endif %}" href="{% url 'logout' %}">
                                LOGOUT
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Right content area: holds top bar and main page panels -->
        <div id="right-content-area" class="flex flex-col flex-1 overflow-hidden">

            <!-- Fixed height top bar -->
            <div id="top-bar-panel" class="h-16 flex-shrink-0 flex w-full mt-2">
                <div class="h-full w-full flex">

                    <!-- Top Bar Container -->
                    <div class="relative flex w-full h-full items-center">

                        <!-- Left Item: Song Title -->
                        <div class="text-left ml-5">
                            {% if song and false %}
                            <div class="rounded border border-primary text-primary p-2">
                            <p class="text-4xl font-bold">
                                {{song.name}}
                            </p>
                            </div>
                            {% else %}<p></p>{% endif %}
                        </div>

                        <!-- Middle Item: Page Navigation -->
                        {% if navigation %}
                        <div class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center mt-1">
                            <ul class="steps steps-primary w-250">
                                {% for page in navigation %}
                                    <li 
                                    id="navigation-{{ forloop.counter }}"
                                    class="step text-sm 
                                    {% if page.active %}step-primary {% endif %}
                                    {% if page.selected %}font-bold text-md {% else %}text-sm {% endif %}
                                    {% if not page.enabled %}text-neutral {% endif %}">
                                        {% if page.enabled %}
                                            {% if page.url == 'song' %}
                                                <a href="{% url page.url %}">{{page.name}}</a>
                                            {% else %}
                                                <a href="{% url page.url selectedSongId %}">{{page.name}}</a>
                                            {% endif %}
                                        {% else %}
                                            {{page.name}}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% elif page_name %}
                        <div class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
                            <p class="text-3xl font-bold text-primary">
                                {{ page_name }}
                            </p>
                        </div>
                        {% endif %}

                        <!-- Right Item: Close Button -->
                        <div class="flex-0 items-center mr-3 ml-auto">
                            <a href="{% url 'library' %}">
                                <button id="btn-navigate-home" class="btn btn-lg btn-primary">X</button>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Container for main page panels and their splitters -->
            <div id="main-panels-container" class="flex flex-1 overflow-hidden">

                <div class="w-full min-h-screen flex flex-col items-center justify-top bg-base-200 p-4 m-8">
                    
                    {% block page_content %}
                    {% endblock %}

                    <div class="w-[1164px]">
                        <div class="h-full w-full flex items-center justify-center">
                            <div class="h-full w-full flex justify-between items-top border-none border-base-300 bg-base-200 mt-4">

                                {% if navigation %}
                                    <!-- Previous Button -->
                                    <div class="w-200"> <!-- This div is only here so the Next Button does not dock to the left when we hide the Prev Button -->
                                        <button id="btn-navigate-prev" class="btn w-45 btn-md btn-primary btn-disabled {{btn_previous}} bi bi-caret-left-square-fill">PREVIOUS</button>
                                    </div>
                                    <!-- End: Previous Button -->

                                    <!-- Next Button -->
                                    <button id="btn-navigate-next" class="btn w-45 btn-md btn-primary btn-disabled {{btn_next}}">NEXT<i class="bi bi-caret-right-square-fill"></i></button>
                                    <!-- End: Next Button -->                                
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            {% block footer %}
                <!-- Fixed height footer -->
                <div id="footer-panel" class="h-14 flex-shrink-0 flex justify-center items-center overflow-hidden">
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block layout_scripts %}
    {{ block.super }}
    <script type="module" src="{% static 'lyrical/script/util_sidebar.js' %}"></script>
{% endblock %}
