{% extends "lyrical/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'lyrical/style/index.css' %}">
    <script src="{% static 'lyrical/script/index.js' %}"></script>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block body %}
    {% csrf_token %}

    <div class="logo-container">
        <img src="{% static 'lyrical/image/lyrical.jpeg' %}" alt="lyrical Logo" class="logo-large">
    </div>
    
    <div class="homepage-hero">
        <div class="hero-text">
            <button class="btn btn-primary hero-btn"><i class="bi bi-play-fill"></i>Call LLM</button>
            <div class="json-data">
            </div>
        </div>
    </div>

{% endblock %}
