{% extends "lyrical/layout_sidebar.html" %}
{% load static %}

{% block page_content %}
    <div id="right-content-area" class="flex flex-col flex-1 overflow-hidden">

        <!-- Fixed height top bar -->
        <div id="top-bar-panel" class="h-48 flex-shrink-0 flex justify-center items-center overflow-hidden">
            <div class="h-full w-full flex items-center justify-center p-3">
            {% block panel_1 %}
            {% endblock %}
            </div>
        </div>

        <!-- Flexible height footer -->
        <div id="footer-panel" class="flex flex-1 overflow-hidden">
            <div class="h-full w-full flex items-center justify-center px-3 pb-3">
            {% block panel_2 %}
            {% endblock %}
            </div>
        </div>
        
    </div>
{% endblock %}
