{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Lyrical{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Chango&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Coiny&display=swap">

        <link rel="stylesheet" href="{% static 'lyrical/style/twstyles.css' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body data-authenticated="{% if user.is_authenticated %}true{% else %}false{% endif %}">
        <div class="bg-linear-to-b from-[#0E0808] to-[#251110] to-125%">
            {% csrf_token %}

            {% block body %}
            {% endblock %}
        </div>

        <script src="{% static 'lyrical/script/stream.js' %}"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>