{% extends "lyrical/layout_base.html" %}
{% load static %}

{% block body %}
    <div id="song-edit-container" class="flex h-screen w-screen overflow-hidden">

        <!-- Fixed width sidebar -->
        <div id="sidebar-panel" class="w-64 flex-shrink-0 flex justify-center items-center overflow-hidden">
            <div class="h-full w-full flex items-center justify-center">
                <div class="h-full w-full flex flex-col items-top justify-top border-r border-base-300">
                    <p class="pt-5 text-center mb-10 mt-2 text-4xl font-[Chango]">LYRICAL</p>

                    <img src="{% static 'lyrical/image/singer-transparent.png' %}" 
                        alt="Singer performing"
                        class="object-contain mt-4 w-full [mask-image:linear-gradient(to_bottom,rgba(0,0,0,1)_85%,rgba(0,0,0,0)_100%)]">

                    <ul class="menu bg-base-200 w-full mt-10 menu-lg">
                        <li class="mb-1">
                            <a class="{% if active_page == 'index' %}menu-active{% endif %}" href="{% url 'index' %}">
                                Home
                            </a>
                        </li>
                        <li class="mb-1">
                            <a class="{% if active_page == 'library' %}menu-active{% endif %}" href="{% url 'library' %}">
                                Library
                            </a>
                        </li>
                        <li class="mb-1">
                            <a class="{% if active_page == 'names' %}menu-active{% endif %}" href="{% url 'names' %}">
                                Song Names
                            </a>
                        </li>
                        <li class="mb-1">
                            <a class="{% if active_page == 'lyrics' %}menu-active{% endif %}" href="{% url 'lyrics' %}">
                                Song Lyrics
                            </a>
                        </li>
                        <div class="mt-2 mb-2 ml-3 mr-3 border border-b border-1 border-neutral">
                        </div>
                        <li class="mb-1">
                            <a class="{% if active_page == 'profile' %}menu-active{% endif %}" href="{% url 'profile' %}">
                                My Profile
                            </a>
                        </li>
                        <li class="mb-1">
                            <a class="{% if active_page == 'logout' %}menu-active{% endif %}" href="{% url 'logout' %}">
                                Logout
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </div>

        <!-- Right content area: holds top bar and main page panels -->
        <div id="right-content-area" class="flex flex-col flex-1 overflow-hidden">

            <!-- Fixed height top bar -->
            <div id="top-bar-panel" class="h-13 flex-shrink-0 flex w-full mt-2">
                <div class="h-full w-full flex">

                    <!-- Top Bar Container -->
                    <div class="flex w-full h-full items-end">

                        <!-- Left Item: Close Button -->
                        <div class="w-full text-left ml-3 bg-red-200">
                            <button class="btn btn-lg btn-secondary">X</button>
                        </div>

                        <!-- Middle Item: Title -->
                        <div class="w-full text-center bg-blue-200">
                            <p class="text-3xl font-bold">TITLE</p>
                        </div>

                        <!-- Right Items: LLM Selection & Next Button -->
                        <div class="w-full text-right mr-3 bg-green-200">

                            <select class="flex-none select select-secondary w-[calc(100%-125px)] select-lg mr-3">
                                <option disabled selected>Select LLM</option>
                                <option>OpenAI: Chat GPT 4.1</option>
                                <option>Anthropic: Claude 3.7</option>
                                <option>Google: Gemini 2.0 Flash</option>

                            </select>
                            <button class="flex-none btn btn-lg btn-secondary">Next &nbsp; ></button>
                        </div>


                        {% block stopbar %}
                        {% endblock %}
                    </div>



                </div>
            </div>

            <!-- Container for main page panels and their splitters -->
            <div id="main-panels-container" class="flex flex-1 overflow-hidden">
                {% block page_content %}
                {% endblock %}
            </div>

            <!-- Fixed height footer -->
            <div id="footer-panel" class="h-16 flex-shrink-0 flex justify-center items-center overflow-hidden">
                <div class="h-full w-full flex items-center justify-center">
                {% block footer %}
                {% endblock %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
