{% extends "lyrical/layout_sidebar_3_col.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block topbar %}
    <div class="h-full w-full flex items-center justify-center border-b border-base-300">
        LIBRARY
    </div>
{% endblock %}

{% block footer %}
    <div class="h-full w-full flex items-center justify-center border-t border-base-300 bg-base-200">
        Footer
    </div>
{% endblock %}

{% block panel_1 %}
    <div class="h-full w-full flex flex-col card bg-base-100 border border-base-300 w-full p-1">
                
        <div class="card w-full bg-transparent border-b border-base-300 rounded-none flex flex-row">
            <div class="flex flex-1 justify-start items-center pl-2">
                SONG NAMES
            </div>
            <div class="flex flex-0 justify-end items-center pr-2">                
                <a class="btn btn-sm mt-1 mb-2 ml-2 btn-primary">
                    Edit
                </a>
            </div>
        </div>


        <div id="panel1-top-content" class="w-full h-[30%] bg-base-200 overflow-auto">
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>            
        </div>


        <div id="panel1-vertical-splitter" class="card w-full bg-transparent border-b border-t border-base-300 rounded-none flex flex-row cursor-row-resize">
            <div class="flex flex-1 justify-start items-center pl-2">
                SONG NAMES
            </div>
            <div class="flex flex-0 justify-end items-center pr-2">                
                <a class="btn btn-sm mt-1 mb-2 ml-2 btn-primary">
                    Edit
                </a>
            </div>

        </div>

        <div id="panel1-bottom-content" class="w-full h-full bg-base-200 overflow-auto">
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>
            <p>Content</p>

        </div>
    </div>
{% endblock %}

{% block panel_2 %}
    <c-panel>
        Panel 2
    </c-panel>

{% endblock %}

{% block panel_3 %}
    <c-panel>
        Panel 3

        <c-card title="Trees">
            We have the best trees
        </c-card>

        <c-card title="Spades">
            The best spades in the land
        </c-card>

    </c-panel>
{% endblock %}

{% block scripts %}
    <script src="{% static 'lyrical/script/layout_slide_panel_header.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            makeVerticallyResizable(
                document.getElementById('panel1-top-content'),
                document.getElementById('panel1-vertical-splitter'),
                document.getElementById('panel1-bottom-content')
            );
        });
    </script>
{% endblock %}
