{% extends "lyrical/base_columns.html" %}
{% load static %}

{% block head %}
{% endblock %}


{% block panel_1 %}
    <c-panel>
                
        <!-- Panel Header -->
        <c-panel-header title="SONG NAMES">
            <c-panel-header-button id="btn-edit-song-name">
                Edit
            </c-panel-header-button>
        </c-panel-header>


        <!-- Panel Container -->
         <c-panel-container id="panel1-top-content" height="[30%]">
            STUFF
         </c-panel-container>


        <!-- Panel Slider -->
         <c-panel-slider id="panel1-vertical-splitter" title="SONG THEMES">
            <c-panel-header-button>
                Generate
            </c-panel-header-button>
         </c-panel-slider>

         
        <!-- Panel Container -->
         <c-panel-container id="panel1-bottom-content" height="full">
            STUFF
         </c-panel-container>

    </c-panel>
{% endblock %}

{% block panel_2 %}
    <c-panel>
        Panel 2
    </c-panel>

{% endblock %}

{% block panel_3 %}
    <c-panel>
        Panel 3

        <c-card title="Trees">
            We have the best trees
        </c-card>

        <c-card title="Spades">
            The best spades in the land
        </c-card>

    </c-panel>
{% endblock %}

{% block scripts %}
    <script src="{% static 'lyrical/script/page_library.js' %}"></script>
{% endblock %}
