{% extends "lyrical/base_sidebar.html" %}
{% load static %}

{% block head %}
{% endblock %}


{% block page_content %}
    <div class="w-full min-h-screen flex flex-col items-center justify-top bg-base-200 p-4 m-8">
        <div class="card max-w-[100%] h-[85%] bg-base-100 shadow-xl p-6 flex flex-col">

            <!-- Title -->
            <h2 class="mb-6 text-3xl font-bold text-primary text-center flex-shrink-0">SONG STYLE - {{song.name|upper}}</h2>

            <!-- Content -->
            <div class="flex flex-row flex-1 min-h-0 gap-4">

                <!-- Left Panel -->
                <div class="w-[550px] min-w-0 border-1 rounded border-base-300 flex flex-col h-full pt-1">

                    <!-- Right Header -->
                    <c-panel-header title="SONG LYRICS" padding="4">
                        <c-panel-header-button id="btn-generate" extrastyles="w-40 bi bi-music-note-list">
                            GENERATE
                        </c-panel-header-button>
                        <c-panel-header-button-loading id="btn-generating" extrastyles="w-40">
                            PLEASE WAIT...
                        </c-panel-header-button-loading>
                        <c-panel-header-button id="btn-undo" extrastyles="btn-disabled bi bi-arrow-counterclockwise">
                            UNDO
                        </c-panel-header-button>
                        <c-panel-header-button id="btn-save" extrastyles="btn-disabled bi bi-floppy">
                            SAVE
                        </c-panel-header-button>
                    </c-panel-header>
                    <!-- End: Right Header -->

                    <!-- Fields for Edit Song Style -->
                    <div class="bg-base-200 overflow-y-auto min-h-0">

                        {% for song_section in song_lyrics %}
                            <!-- Song Section Card -->
                            <div class="song-section-card mx-1">

                                <!-- Badge header row -->
                                <c-badge-lyrics 
                                    data-section-type="{{song_section.type|upper}}"
                                    data-section-index="{{song_section.index}}"
                                    data-section-words-id="{% if song_section.allow_words %}lyrics-text-{{ forloop.counter }}{% endif %}"
                                    >{{song_section.type}}
                                </c-badge-lyrics>
                                <!-- End: Badge header row -->

                                <!-- Song Section Lyrics & Edit UI -->
                                {% if song_section.allow_words %}
                                    <div class="flex flex-col">

                                        <!-- Edit Panels -->
                                        <div class="edit-panel-interactive h-30 bg-blue-300 hidden pl-3 pt-2">
                                        </div>
                                        <div class="edit-panel-regenerate h-30 bg-green-300 hidden pl-3 pt-2">
                                        </div>
                                        <!-- End: Edit Panels -->

                                        <textarea 
                                            id="lyrics-text-{{ forloop.counter }}" 
                                            data-lyrics-id="{{song_section.id}}"
                                            type="text" 
                                            placeholder="" 
                                            readonly
                                            autocomplete="off" 
                                            class="{{song_section.item_name}} mb-1 input-control textarea text-[16px] min-h-8 textarea-neutral w-full resize-none border-none shadow-none focus:outline-none"
                                            style="field-sizing: content;"
                                        >{{song_section.words}}</textarea>
                                    </div>
                                {% else %}
                                    <div class="border-y border-base-100"></div>
                                {% endif %}
                                <!-- Song Section Lyrics & Edit UI -->
                                
                            </div>
                            <!-- End: Song Section Card -->
                        {% endfor %}

                        <!-- Container for regenrated lyrics -->
                        <div class="bg-orange-300 h-150 hidden" id="content-panel-regenerate">
                            content
                        </div>
                        <!-- End: Container for regenrated lyrics -->

                    </div>
                    <!-- End: Fields for Edit Song Style -->
                    
                </div>
                <!-- End: Left Panel -->

                <!-- Right Panel -->
                <div class="w-[550px] min-w-0 border-1 rounded border-base-300 flex flex-col h-full overflow-hidden">

                    <!-- Header Section -->
                    <div class="flex flex-col flex-shrink-0">
                        <div class="card w-full bg-transparent flex flex-row font-bold text-md text-primary">
                            <div class="flex flex-0 justify-end items-center flex-1 mt-1">                
                    
                                <!-- Edit Song Style Section -->
                                <c-panel-header title="EXPORT SONG LYRICS" padding="4">
                                    <c-panel-header-button id="btn-copy" extrastyles="bi bi-copy">
                                        COPY
                                    </c-panel-header-button>
                                    <c-panel-header-button id="btn-export" extrastyles="bi bi-filetype-txt" data-song-name="{{ song.name }}">
                                        EXPORT
                                    </c-panel-header-button>
                                </c-panel-header>
                                <!-- End: Edit Song Style Section -->

                            </div>
                        </div>
                    </div>
                    <!-- End: Header Section -->

                   <!-- Export Song Lyrics -->
                    <div id="song-lyrics-text" class="px-3 py-3 card border-none bg-base-200 overflow-y-auto min-h-0 hidden">
                    </div>
                    <!-- End: Export Song Lyrics -->

                </div>
                <!-- End: Right Panel -->

            </div>                
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script type="module" src="{% static 'lyrical/script/page_lyrics.js' %}"></script>
{% endblock %}


