{% extends "lyrical/layout_sidebar_3_col.html" %}
{% load static %}


{% block topbar %}
    <div class="h-full w-full flex items-center justify-center border-b border-stone-700">
        Topbar
    </div>
{% endblock %}

{% block footer %}
    <div class="h-full w-full flex items-center justify-center border-t border-stone-700 bg-[#341E1F]">
        Footer
    </div>
{% endblock %}

{% block panel_1 %}
    <div class="h-full w-full flex items-center justify-center border rounded-xl border-stone-700 bg-linear-to-b from-[#1A1515] to-[#341E1F] via-[#1A1515]">
        Panel 1
    </div>
{% endblock %}

{% block panel_2 %}
    <div class="h-full w-full flex items-center justify-center border rounded-xl border-stone-700 bg-linear-to-b from-[#1A1515] to-[#341E1F] via-[#1A1515]">
        Panel 2
    </div>
{% endblock %}

{% block panel_3 %}
    <div class="h-full w-full flex items-center justify-center border rounded-xl border-stone-700 bg-linear-to-b from-[#1A1515] to-[#341E1F] via-[#1A1515]">
        Panel 3
    </div>
{% endblock %}
