{% extends "lyrical/base_columns_4_top.html" %}
{% load static %}

{% block head %}
{% endblock %}


<!-- GENERATION PARAMETERS -->
{% block panel_1 %}
    <!-- Top Container -->
    <div class="w-full">

        <!-- Content Section-->
        <div class="bg-base-200 border-y border-base-300 flex flex-row w-full">

            <!-- Column -->
            <div class="flex-1 pl-3 pr-6 mb-4">
                <c-input-label>
                    INCLUDE THEMES:
                </c-input-label>                        
                <c-input-textarea id="input-include-themes">{{user.song_name_theme_inc}}</c-input-textarea>

                <c-input-label>
                    INCLUDE WORDS:
                </c-input-label>
                <c-input-text id="input-include-words">{{user.song_name_words_inc}}</c-input-text>
            </div>

            <!-- Column -->
            <div class="flex-1 pl-4 pr-6 mb-4">
                <c-input-label>
                    EXCLUDE THEMES:
                </c-input-label>                        
                <c-input-textarea id="input-exclude-themes">{{user.song_name_theme_exc}}</c-input-textarea>

                <c-input-label>
                    EXCLUDE WORDS:
                </c-input-label>                        
                <c-input-text id="input-exclude-words">{{user.song_name_words_exc}}</c-input-text>
            </div>

            <!-- Column -->
            <div class="flex-1 pl-4 mb-4">
                <c-input-label>
                    STARTS WITH:
                </c-input-label>                        
                <c-input-text id="input-starts-with">{{user.song_name_starts_with}}</c-input-text>

                <c-input-label>
                    ENDS WITH:
                </c-input-label>                        
                <c-input-text id="input-ends-with">{{user.song_name_ends_with}}</c-input-text>
            </div>

            <!-- Column -->
            <div class="flex-1 flex flex-col items-center justify-center mb-4">    
                <c-input-label>
                    MIN WORDS:
                </c-input-label>                        
                <div class="w-[80%] max-w-xs">
                    <input id="input-min-words" type="range" min="1" max="5" value="{{ user.song_name_length_min }}" class="range range-primary" step="1" />
                    <div class="flex justify-between px-2.5 mt-2 text-xs">
                        <span>1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span>5</span>
                    </div>
                </div>

                <c-input-label>
                    MAX WORDS:
                </c-input-label>                        
                <div class="w-[80%] max-w-xs">
                    <input id="input-max-words" type="range" min="1" max="5" value="{{ user.song_name_length_max }}" class="range range-primary" step="1" />
                    <div class="flex justify-between px-2.5 mt-2 text-xs">
                        <span>1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span>5</span>
                    </div>
                </div>
            </div>

            <!-- Column -->
            <div class="flex-1 flex flex-col items-center justify-center mb-4">    
                                
                <c-input-label>
                    COUNT:
                </c-input-label>                        
                <div class="w-[80%] max-w-xs">
                    <input id="input-count" type="range" min="1" max="25" value="{{ user.song_name_gen_count }}" class="range range-primary" step="1" />
                    <div class="flex justify-between px-2.5 mt-2 text-xs">
                        <span>1</span>
                        <span>5</span>
                        <span>10</span>
                        <span>15</span>
                        <span>20</span>
                        <span>25</span>
                    </div>
                </div>                    


                <div class="w-full text-center pt-11">
                    <a class="btn btn-md w-[250px] mt-1 mb-2 ml-2 btn-primary" id="btn-generate-song-names">
                        GENERATE NAMES
                    </a>
                    <a class="btn btn-md w-[250px] mt-1 mb-2 ml-2 btn-primary" id="btn-generating-song-names">
                        <span class="loading loading-spinner"></span>PLEASE WAIT...
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


<!-- NEW SONG NAMES -->
{% block panel_2 %}
    <c-panel>

        <!-- Panel Header -->
        <c-panel-header title="NEW">
            <c-panel-header-button id="btn-dislike-all-new-song-names">
                DISLIKE ALL
            </c-panel-header-button>
            <c-panel-header-divider />
            <c-panel-header-button id="btn-add-song-name">
                ADD
            </c-panel-header-button>
            <c-panel-header-button id="btn-new-edit-song-name">
                EDIT
            </c-panel-header-button>
            <c-panel-header-button id="btn-new-delete-song-name">
                DELETE
            </c-panel-header-button>
        </c-panel-slider>
         
        <!-- Panel Container (New Songs)-->
         <c-panel-container id="new-songs-container" data-drop-zone="true" data-zone-name="new">
            {% for song in new_songs %}
                <c-card-song />
            {% endfor %}
         </c-panel-container>         

    </c-panel>
{% endblock %}


<!-- LIKED SONG NAMES -->
{% block panel_3 %}
    <c-panel>            

        <!-- Panel Header -->
        <c-panel-header title="LIKED">
            <c-panel-header-button id="btn-create-song-lyrics">
                CREATE LYRICS
            </c-panel-header-button>
            <c-panel-header-divider />
            <c-panel-header-button id="btn-liked-edit-song-name">
                EDIT
            </c-panel-header-button>
            <c-panel-header-button id="btn-liked-delete-song-name">
                DELETE
            </c-panel-header-button>
        </c-panel-header>
         
        <!-- Panel Container (Liked Songs) -->
         <c-panel-container id="liked-songs-container" data-drop-zone="true" data-zone-name="liked">
            {% for song in liked_songs %}
                <c-card-song />
            {% endfor %}
         </c-panel-container>

    </c-panel>
{% endblock %}


<!-- DISLIKED SONG NAMES -->
{% block panel_4 %}
    <c-panel>               

        <!-- Panel Header -->
        <c-panel-header title="DISLIKED">
            <c-panel-header-button id="btn-archive-all-disliked-song-names">
                ARCHIVE ALL
            </c-panel-header-button>
            <c-panel-header-divider />
            <c-panel-header-button id="btn-disliked-edit-song-name">
                EDIT
            </c-panel-header-button>
            <c-panel-header-button id="btn-disliked-delete-song-name">
                DELETE
            </c-panel-header-button>
        </c-panel-header>
         
        <!-- Panel Container (Disliked Songs) -->
         <c-panel-container id="disliked-songs-container" data-drop-zone="true" data-zone-name="disliked">       
            {% for song in disliked_songs %}
                <c-card-song />
            {% endfor %}
         </c-panel-container>

    </c-panel>
{% endblock %}


{% block footer %}
{% endblock %}


{% block scripts %}
    <script type="module" src="{% static 'lyrical/script/page_names_main.js' %}"></script>
{% endblock %}
