{% extends "lyrical/layout_sidebar_3_col.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block topbar %}
    <div class="h-full w-full flex items-center justify-center border-b border-base-300">
        GENERATE NAMES
    </div>
{% endblock %}

{% block panel_1 %}



    <!-- Open the modal using ID.showModal() method -->
    <!--button class="btn" onclick="my_modal_1.showModal()">open modal</button-->
    <dialog id="my_modal_1" class="modal">
    <div class="modal-box bg-base-300">
        <h3 class="text-lg font-bold">Confirm</h3>
        <p class="py-4">Are you sure you want to delete the song: SONG NAME?</p>
        <div class="modal-action">
        <form method="dialog">
            <!-- if there is a button in form, it will close the modal -->
            <button class="btn" id="my_modal_1_no">No</button>
            <button class="btn" id="my_modal_1_yes">Yes</button>
        </form>
        </div>
    </div>
    </dialog>






    <c-panel>
                
        <!-- Panel Header -->
        <c-panel-header title="LIKED">
        </c-panel-header>

         
        <!-- Panel Container -->
         <c-panel-container id="liked-songs-container" data-drop-zone="true" data-zone-name="liked">
            {% for song in liked_songs %}
                <c-card-song />
            {% endfor %}
         </c-panel-container>

    </c-panel>
{% endblock %}

{% block panel_2 %}
        <c-panel>
                
        <!-- Panel Header -->
        <c-panel-header title="MANAGE">
            <c-panel-header-button>
                Add
            </c-panel-header-button>
        </c-panel-header>


        <!-- Panel Container -->
         <c-panel-container id="panel-top-content" data-drop-zone="true" data-zone-name="new">
            {% for song in new_songs %}
                <c-card-song />
            {% endfor %}
         </c-panel-container>


        <!-- Panel Slider -->
         <c-panel-slider id="panel-vertical-splitter" title="GENERATE NAMES">
            <c-panel-header-button id="btn-generate-song-names">
                Generate
            </c-panel-header-button>
         </c-panel-slider>

         
        <!-- Panel Container -->
         <c-panel-container id="panel-bottom-content">
            generation params            
         </c-panel-container>

    </c-panel>
{% endblock %}

{% block panel_3 %}
        <c-panel>
                
        <!-- Panel Header -->
        <c-panel-header title="DISLIKED">
        </c-panel-header>

         
        <!-- Panel Container -->
         <c-panel-container id="disliked-songs-container" data-drop-zone="true" data-zone-name="disliked">       
            {% for song in disliked_songs %}
                <c-card-song />
            {% endfor %}
         </c-panel-container>

    </c-panel>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'lyrical/script/page_names.js' %}"></script>
{% endblock %}
