{% extends "lyrical/base_columns.html" %}
{% load static %}

{% block head %}
{% endblock %}


<!-- LIKED SONG NAMES -->
{% block panel_1 %}
    <c-panel>
                
        <!-- Panel Header -->
        <c-panel-header title="LIKED">
            <c-panel-header-button id="btn-liked-edit-song-name">
                EDIT
            </c-panel-header-button>
            <c-panel-header-button id="btn-liked-delete-song-name">
                DELETE
            </c-panel-header-button>
        </c-panel-header>
         
        <!-- Panel Container -->
         <c-panel-container id="liked-songs-container" data-drop-zone="true" data-zone-name="liked">
            {% for song in liked_songs %}
                <c-card-song />
            {% endfor %}
         </c-panel-container>

    </c-panel>
{% endblock %}


<!-- NEW SONG NAMES -->
{% block panel_2 %}
        <c-panel>
                
        <!-- Panel Header -->
        <c-panel-header title="NEW"> 
            <c-panel-header-button id="btn-dislike-all-new-song-names">
                DISLIKE ALL
            </c-panel-header-button>
            <c-panel-header-divider />
            <c-panel-header-button id="btn-new-edit-song-name">
                EDIT
            </c-panel-header-button>
            <c-panel-header-button id="btn-new-delete-song-name">
                DELETE
            </c-panel-header-button>            
        </c-panel-header>


        <!-- Panel Container -->
         <c-panel-container id="panel-top-content" data-drop-zone="true" data-zone-name="new">
            {% for song in new_songs %}
                <c-card-song />
            {% endfor %}
         </c-panel-container>


        <!-- Panel Slider -->
         <c-panel-slider id="panel-vertical-splitter" title="GENERATE NAMES">
            <c-panel-header-button id="btn-add-song-name">
                ADD
            </c-panel-header-button>
            <c-panel-header-button id="btn-generate-song-names">
                GENERATE
            </c-panel-header-button>
         </c-panel-slider>

         
        <!-- Panel Container -->
         <c-panel-container-form id="panel-bottom-content">
            
            <div class="card w-full h-full p-4">
                <div class="card bg-base-200 w-full border border-base-300 pl-6 pr-6 pb-6">
                    
                    <c-input-label>
                        INCLUDE THEMES:
                    </c-input-label>                        
                    <c-input-textarea id="input-include-themes" />

                    <c-input-label>
                        EXCLUDE THEMES:
                    </c-input-label>                        
                    <c-input-textarea id="input-exclude-themes" />

                    <c-input-columns>
                        <c-input-column>
                            <c-input-label>
                                INCLUDE WORDS:
                            </c-input-label>                        
                            <c-input-text id="input-include-words" />
                        </c-input-column>
                        <c-input-gap /> 
                        <c-input-column>
                            <c-input-label>
                                EXCLUDE WORDS:
                            </c-input-label>                        
                            <c-input-text id="input-exclude-words" />
                        </c-input-column>
                    </c-input-columns>

                    <c-input-columns>
                        <c-input-column>
                            <c-input-label>
                                STARTS WITH:
                            </c-input-label>                        
                            <c-input-text id="input-starts-with" />
                        </c-input-column>
                        <c-input-gap /> 
                        <c-input-column>
                            <c-input-label>
                                ENDS WITH:
                            </c-input-label>                        
                            <c-input-text id="input-ends-with" />
                        </c-input-column>
                    </c-input-columns>

                    <c-input-columns>
                        <c-input-column>
                            <c-input-label>
                                COUNT:
                            </c-input-label>                        
                            <c-input-number id="input-count" min="1" max="20"/>
                        </c-input-column>
                        <c-input-gap /> 
                        <c-input-column>
                            <c-input-label>
                                MIN WORDS:
                            </c-input-label>                        
                            <c-input-number id="input-min-words" min="1" max="1"/>
                        </c-input-column>
                       <c-input-gap /> 
                        <c-input-column>
                            <c-input-label>
                                MAX WORDS:
                            </c-input-label>                        
                            <c-input-number id="input-max-words" min="1" max="8" />
                        </c-input-column>
                    </c-input-columns>
              </div>
            </div>
         </c-panel-container>
         

    </c-panel>
{% endblock %}

<!-- DISLIKED SONG NAMES -->
{% block panel_3 %}
        <c-panel>
                
        <!-- Panel Header -->
        <c-panel-header title="DISLIKED">
            <c-panel-header-button id="btn-disliked-edit-song-name">
                EDIT
            </c-panel-header-button>
            <c-panel-header-button id="btn-disliked-delete-song-name">
                DELETE
            </c-panel-header-button>
        </c-panel-header>

         
        <!-- Panel Container -->
         <c-panel-container id="disliked-songs-container" data-drop-zone="true" data-zone-name="disliked">       
            {% for song in disliked_songs %}
                <c-card-song />
            {% endfor %}
         </c-panel-container>

    </c-panel>
{% endblock %}


{% block scripts %}
    <script type="module" src="{% static 'lyrical/script/page_names.js' %}"></script>
{% endblock %}
