{% extends "lyrical/layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'lyrical/style/profile.css' %}">
{% endblock %}

{% block body %}
    {% csrf_token %}
    <div class="page-heading">
        <h2>{{ profile_user.display_name }}</h2>
    </div>

    <div class="details-container">
        <h3 class="details-heading">My Details</h3>
        <div class="table-container">
            <table class="user-details-table">
                <tbody>
                    <tr>
                        <td>Username</td>
                        <td>{{ profile_user.username }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ profile_user.email }}</td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>{{ profile_user.first_name }}</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>{{ profile_user.last_name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>




{% endblock %}

