{% extends "lyrical/layout.html" %}
{% load static %}

{% block head %}
<style>
    /* Add some basic styling for the splitter */
    .splitter {
        width: 5px;
        background-color: #aaa; /* daisyUI neutral or similar could be used via Tailwind */
        flex-shrink: 0;
        cursor: col-resize;
    }
    .panel {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; /* Prevent content overflow during resize */
    }
</style>
{% endblock %}

{% block body %}
    {% csrf_token %}
    <div id="song-edit-container" class="flex h-screen w-screen overflow-hidden">
        <!-- Panel 1 (Fixed Width) -->
        <div id="panel1" class="panel bg-base-200 w-64 flex-shrink-0 p-2">
            <div class="h-full w-full rounded-lg border border-neutral flex items-center justify-center">
                Panel 1
            </div>
        </div>

        <!-- Splitter 1 -->
        <div class="splitter" id="splitter1"></div>

        <!-- Panel 2 (Resizable) -->
        <div id="panel2" class="panel bg-base-300 flex-1 p-2">
            <div class="h-full w-full rounded-lg border border-neutral flex items-center justify-center">
                <div class="mockup-code w-full h-full">
                    <pre data-prefix="$"><code>npm i daisyui</code></pre>
                    <pre data-prefix=">" class="text-warning"><code>installing...</code></pre>
                    <pre data-prefix=">" class="text-success"><code>Done!</code></pre>
                </div>
            </div>
        </div>

        <!-- Splitter 2 -->
        <div class="splitter" id="splitter2"></div>

        <!-- Panel 3 (Resizable) -->
        <div id="panel3" class="panel bg-base-300 flex-1 p-2">
            <div class="h-full w-full rounded-lg border bg-neutral-900 flex items-center justify-center border-orange-500">
                <div class="mockup-browser border border-base-300 w-full h-full">
                    <div class="mockup-browser-toolbar w-full">
                        <p class="text-center w-full font-semibold">Edit Lyrics</p>
                    </div>
                    <div class="w-full h-full p-4">
                        <pre data-prefix="$"><code>npm i daisyui</code></pre>
                        <pre data-prefix=">" class="text-warning"><code>installing...</code></pre>
                        <pre data-prefix=">" class="text-success"><code>Done!</code></pre>
                    </div>
                </div>
            </div>
        </div>

        <!-- Splitter 3 -->
        <div class="splitter" id="splitter3"></div>

        <!-- Panel 4 (Resizable) -->
        <div id="panel4" class="panel bg-base-300 flex-1 p-2">
            <div class="h-full w-full rounded-lg border border-neutral flex items-center justify-center">
                Panel 4
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'lyrical/script/song_edit.js' %}?v={{ timestamp }}"></script>
{% endblock %}
