{% extends "lyrical/base_columns.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block page_content %}
    <div class="w-full min-h-screen flex flex-col items-center justify-top bg-base-200 p-4 m-8">
        <div class="card max-w-[90%] h-[85%] bg-base-100 shadow-xl p-6 flex flex-col">

            <!-- Title -->
            <h2 class="mb-6 text-3xl font-bold text-primary text-center flex-shrink-0">SONG STRUCTURE - {{song.name|upper}}</h2>

            <!-- Content -->
            <div class="flex flex-row flex-1 min-h-0 gap-4">

                <!-- Left Panel -->
                <div class="w-[600px] min-w-0 border-1 rounded border-base-300 flex flex-col h-full pt-1">

                    <!-- Right Header -->
                    <c-panel-header title="SETTINGS" padding="4">
                        <c-panel-header-button id="btn-cancel">
                            CANCEL
                        </c-panel-header-button>
                        <c-panel-header-button id="btn-save" data-song-id="{{song.id}}">
                            SAVE
                        </c-panel-header-button>
                    </c-panel-header>
                    <!-- End: Right Header -->


                    <p class="p-4 my-100">settings</p>


                    <!-- Splitter Section -->
                    <div class="flex flex-col flex-shrink-0">
                        <div class="card w-full bg-transparent border-b border-t border-base-300 rounded-none flex flex-row cursor-row-resize font-bold text-md text-primary">
                            <div class="flex flex-0 justify-end items-center flex-1 pr-4">                
                                
                                <c-panel-header title="TEMPLATE" padding="4">

                                    <c-input-label>Drop Down</c-input-label>

                                    <c-panel-header-button id="btn-load-template">
                                        LOAD
                                    </c-panel-header-button>

                                    <c-panel-header-button id="btn-save-template">
                                        SAVE
                                    </c-panel-header-button>
                                </c-panel-header>


                                <!-- End: Clear Button -->                            

                            </div>
                        </div>
                    </div>
                    <!-- End: Splitter Section -->



                    <!-- Drop Zone Buffer -->
                    <div class="flex-1" data-drop-zone="true">
                    </div>
                    <!-- End: Drop Zone Buffer -->

                </div>
                <!-- End: Left Panel -->


                <!-- Right Panel -->
                <div class="w-[400px] min-w-0 border-1 rounded border-base-300 flex flex-col h-full pt-1 overflow-hidden">

                    <!-- Splitter Section -->
                    <div class="flex flex-col flex-shrink-0">
                        <div class="card w-full bg-transparent border-b border-base-300 rounded-none flex flex-row cursor-row-resize font-bold text-md text-primary">
                            <div class="flex flex-0 justify-end items-center flex-1">                
                                
                                <c-panel-header title="SONG SECTIONS" padding="4">
                                    <c-panel-header-button id="btn-clear" extrastyles="btn-disabled">
                                        CLEAR
                                    </c-panel-header-button>
                                </c-panel-header>

                            </div>
                        </div>
                    </div>
                    <!-- End: Splitter Section -->


                    <!-- Fields for Edit Song Style -->
                    <div id="song-sections" class="mt-1 mx-1 card border border-base-300 bg-base-200" data-drop-zone="true">
                        <c-badge-edit>INTRO</c-badge-edit>
                        <c-badge-edit>THEME</c-badge-edit>
                        <c-badge-edit>NARRATIVE</c-badge-edit>
                        <c-badge-edit>MOOD</c-badge-edit>
                        <c-badge-edit>HOOK</c-badge-edit>
                        <c-badge-edit>VERSE</c-badge-edit>
                        <c-badge-edit>PRE-CHORUS</c-badge-edit>
                        <c-badge-edit>CHORUS</c-badge-edit>
                        <c-badge-edit>BRIDGE</c-badge-edit>
                        <c-badge-edit>OUTRO</c-badge-edit>
                        <c-badge-edit>VOCALISATION</c-badge-edit>
                        <c-badge-edit>INTERLUDE</c-badge-edit>
                        <c-badge-edit>SOLO</c-badge-edit>
                        



                        <div class="dropdown dropdown-right dropdown-center w-45">
                            <div class="badge-add-item flex flex-row mr-2">
                                <div tabindex="0" role="button" class="badge badge-sm rounded badge-neutral w-40 font-bold mb-3 mt-3 ml-2 cursor-pointer">ADD ITEM</div>
                            </div>
                            <ul tabindex="0" class="dropdown-content menu bg-base-200 rounded-box rounded-xl z-1 w-50 border-1" tooltip="">
                                <c-badge-listitem>INTRO</c-badge-listitem>
                                <c-badge-listitem>VERSE</c-badge-listitem>
                                <c-badge-listitem>PRE-CHORUS</c-badge-listitem>
                                <c-badge-listitem>CHORUS</c-badge-listitem>
                                <c-badge-listitem>BRIDGE</c-badge-listitem>
                                <c-badge-listitem>OUTRO</c-badge-listitem>
                                <c-badge-listitem>HOOK</c-badge-listitem>
                                <c-badge-listitem>VOCALISATION</c-badge-listitem>
                                <c-badge-listitem>INTERLUDE</c-badge-listitem>
                                <c-badge-listitem>SOLO</c-badge-listitem>
                            </ul>
                        </div> 






                    </div>
                    <!-- End: Fields for Edit Song Style -->


                    <!-- Container for Generated Styles -->
                    <div class="flex flex-col flex-1 px-1 overflow-y-auto min-h-0" id="generated-styles">
                        {% for section in song_sections %}
                            {% if not section.hidden %}
                                <c-card-style />
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- End: Container for Generated Styles -->

                </div>
                <!-- End: Right Panel -->

            </div>                
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'lyrical/script/page_structure.js' %}"></script>
{% endblock %}
