{% extends "lyrical/base_columns.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block page_content %}
    <div class="w-full min-h-screen flex flex-col items-center justify-top bg-base-200 p-4 m-8">
        <div class="card max-w-[90%] h-[85%] bg-base-100 shadow-xl p-6 flex flex-col">

            <!-- Title -->
            <h2 class="mb-6 text-3xl font-bold text-primary text-center flex-shrink-0">{{song.name|upper}}</h2>

            <!-- Content -->
            <div class="flex flex-row flex-1 min-h-0 gap-4">

                <!-- Left Panel -->
                <div class="w-[500px] min-w-0 border-1 rounded border-base-300 flex flex-col h-full pt-1">

                    <!-- Right Header -->
                    <c-panel-header title="CUSTOM PROMPT" padding="4">
                        <c-panel-header-button id="btn-generate">
                            GENERATE
                        </c-panel-header-button>
                        <!--a class="btn btn-md w-[250px] h-[44px] mt-1 mb-2 ml-2 btn-primary btn-disabled hidden" id="btn-generating">
                            <span class="loading loading-spinner"></span>PLEASE WAIT...
                        </a-->
                    </c-panel-header>
                    <!-- End: Right Header -->

                    <!-- Right Content -->
                    <div class="flex flex-col flex-shrink-0">
                        <textarea 
                            id="prompt-text" 
                            type="text" 
                            placeholder="" 
                            autocomplete="off" 
                            class="input-control textarea textarea-md textarea-neutral w-full h-full mb-1 resize-none border-none shadow-none focus:outline-none"
                        ></textarea>
                    </div>
                    <!-- End: Right Content -->

                    <!-- Section Title -->
                    <div class="flex flex-col flex-shrink-0">
                    <c-panel-slider title="GENERATED THEMES" padding="4">
                        <c-panel-header-button id="btn-copy">
                            COPY
                        </c-panel-header-button>
                        <c-panel-header-button id="btn-clear">
                            CLEAR
                        </c-panel-header-button>
                    </c-panel-slider>
                    </div>
                    <!-- End: Section Title -->

                    <!-- Container for all generated themes -->
                    <div class="flex flex-col flex-1 px-1 overflow-y-auto min-h-0">

                        <c-card-theme type="badge-success" text="THEME" id="theme-1">
                            There is a lot of debris over an area of km, this region must be evacuated and cleared for the next 12 months.
                        </c-card-theme>


                        <div class="card border border-base-300 pl-4 pb-3 pt-2 mt-1 bg-base-200 cursor-grab flex flex-row w-full items-center justify-between">
                            <div class="flex-grow mr-2">
                                <div class="flex flex-row">
                                    <div class="badge badge-outline badge-success w-40 font-bold mb-2 mt-1">THEME</div>
                                    <div class="justify-end flex flex-grow">
                                        <button class="btn btn-circle btn-ghost"><i class="bi bi-x-circle text-3xl text-neutral"></i></button>
                                    </div>
                            </div>
                                <p class="">There is a lot of debris over an area of km, this region must be evacuated and cleared for the next 12 months.</p>
                            </div>
                        </div>

                        <div class="card border border-base-300 pl-4 pb-3 pt-2 mt-1 bg-base-200 cursor-grab flex flex-row w-full items-center justify-between">
                            <div class="flex-grow mr-2">
                                <div class="flex flex-row">
                                    <div class="badge badge-outline badge-success w-40 font-bold mb-2 mt-1">THEME</div>
                                    <div class="justify-end flex flex-grow">
                                        <button class="btn btn-circle btn-ghost"><i class="bi bi-x-circle text-3xl text-neutral"></i></button>
                                    </div>
                            </div>
                                <p class="">There is a lot of debris over an area of km, this region must be evacuated and cleared for the next 12 months.</p>
                            </div>
                        </div>

                        <div class="card border border-base-300 pl-4 pr-4 pt-3 pb-3 mt-1 bg-base-200 cursor-grab flex flex-row w-full items-center justify-between">
                            <div class="flex-grow mr-2">
                                <div class="badge badge-outline badge-success w-40 font-bold mb-2">THEME</div>
                                <p class="">There is a lot of debris over an area of km, this region must be evacuated and cleared for the next 12 months.</p>
                            </div>
                        </div>

                        <div class="card border border-base-300 pl-4 pr-4 pt-3 pb-3 mt-1 bg-base-200 cursor-grab flex flex-row w-full items-center justify-between">
                            <div class="flex-grow mr-2">
                                <div class="badge badge-outline badge-success w-40 font-bold mb-2">THEME</div>
                                <p class="">There is a lot of debris over an area of km, this region must be evacuated and cleared for the next 12 months.</p>
                            </div>
                        </div>

                        <div class="card border border-base-300 pl-4 pr-4 pt-3 pb-3 mt-1 bg-base-200 cursor-grab flex flex-row w-full items-center justify-between">
                            <div class="flex-grow mr-2">
                                <div class="badge badge-outline badge-warning w-40 font-bold mb-2">NARRATIVE</div>
                                <p class="">There is a lot of debris over an area of km, this region must be evacuated and cleared for the next 12 months.</p>
                            </div>
                        </div>

                        <div class="card border border-base-300 pl-4 pr-4 pt-3 pb-3 mt-1 bg-base-200 cursor-grab flex flex-row w-full items-center justify-between">
                            <div class="flex-grow mr-2">
                                <div class="badge badge-outline badge-warning w-40 font-bold mb-2">NARRATIVE</div>
                                <p class="">There is a lot of debris over an area of km, this region must be evacuated and cleared for the next 12 months.</p>
                            </div>
                        </div>

                        <div class="card border border-base-300 pl-4 pr-4 pt-3 pb-3 mt-1 bg-base-200 cursor-grab flex flex-row w-full items-center justify-between">
                            <div class="flex-grow mr-2">
                                <div class="badge badge-outline badge-warning w-40 font-bold mb-2">NARRATIVE</div>
                                <p class="">There is a lot of debris over an area of km, this region must be evacuated and cleared for the next 12 months.</p>
                            </div>
                        </div>

                        <div class="card border border-base-300 pl-4 pr-4 pt-3 pb-3 mt-1 bg-base-200 cursor-grab flex flex-row w-full items-center justify-between">
                            <div class="flex-grow mr-2">
                                <div class="badge badge-outline badge-info w-40 font-bold mb-2">STYLE</div>
                                <p class="">There is a lot of debris over an area of km, this region must be evacuated and cleared for the next 12 months.</p>
                            </div>
                        </div>

                        <div class="card border border-base-300 pl-4 pr-4 pt-3 pb-3 mt-1 bg-base-200 cursor-grab flex flex-row w-full items-center justify-between">
                            <div class="flex-grow mr-2">
                                <div class="badge badge-outline badge-info w-40 font-bold mb-2">STYLE</div>
                                <p class="">There is a lot of debris over an area of km, this region must be evacuated and cleared for the next 12 months.</p>
                            </div>
                        </div>

                        <div class="card border border-base-300 pl-4 pr-4 pt-3 pb-3 mt-1 bg-base-200 cursor-grab flex flex-row w-full items-center justify-between">
                            <div class="flex-grow mr-2">
                                <div class="badge badge-outline badge-info w-40 font-bold mb-2">STYLE</div>
                                <p class="">There is a lot of debris over an area of km, this region must be evacuated and cleared for the next 12 months.</p>
                            </div>
                        </div>


                    </div>
                    <!-- End: Container for all generated themes -->

                </div>
                <!-- End: Left Panel -->


                <!-- Right Panel -->
                <div class="w-[500px] min-w-0 border-1 rounded border-base-300 pt-1">

                    <!-- Right Header -->
                    <c-panel-header title="EDIT YOUR SONG THEME" padding="4">
                        <c-panel-header-button id="btn-paste">
                            PASTE
                        </c-panel-header-button>
                        <c-panel-header-button id="btn-save">
                            SAVE
                        </c-panel-header-button>
                    </c-panel-header>
                    <!-- End: Right Header -->

                    <!-- Right Content -->
                     <div class="flex flex-col h-full">
                        <textarea 
                            id="theme-text" 
                            type="text" 
                            placeholder="" 
                            autocomplete="off" 
                            class="input-control textarea textarea-md textarea-neutral w-full h-full mb-7 resize-none border-none shadow-none focus:outline-none"
                        ></textarea>
                        <c-input-spacer />
                    </div>
                    <!-- End: Right Content -->

                </div>
                <!-- End: Right Panel -->

            </div>                
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'lyrical/script/page_theme.js' %}"></script>
{% endblock %}
