{% extends "lyrical/layout_sidebar_3_col.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block topbar %}
    <div class="h-full w-full flex items-center justify-center border-b border-base-300">
        GENERATE THEMES
    </div>
{% endblock %}

{% block footer %}
    <div class="h-full w-full flex items-center justify-center border-t border-base-300 bg-base-200">
        Footer
    </div>
{% endblock %}

{% block panel_1 %}
    <div class="h-full w-full flex items-center justify-center card bg-base-100 border border-base-300 w-full">
        Panel 1
    </div>
{% endblock %}

{% block panel_2 %}
    <div class="h-full w-full flex items-center justify-center card bg-base-100 border border-base-300 w-full">
        Panel 2
    </div>
{% endblock %}

{% block panel_3 %}
    <div class="h-full w-full flex items-center justify-center card bg-base-100 border border-base-300 w-full">
        Panel 3
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
